  body {background-color: beige;};

  .topnav {
    background-color: #333;
  }

body {
  background-color: #c4c4c4;
  }

.topnav {
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    padding: 5vh; /*vh=height from screen (total=100vh)*/
    font-weight: bold;
    font-size: xx-large;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: whitesmoke;
  /*  font-family: 'Brush Script MT', cursive;*/

  }

  /* Style the whole navigation bar */
  .topnav {
    float: none;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(-50%);
    padding: 20vh, 10px;  /*vh=height from screen (total=100vh)*/
  }

  /* Style the links inside the navigation bar */
  .topnav a{
    color: white;
    padding: 5px 1rem; /*Nav Bar space between elements*/
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    text-decoration: none;
  }

  /* Change the color of links when mouse hover on them */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  } 

  .main {
    float: none;
    position: absolute;
    left: 50%;
    color: white;
    transform: translate(-50%);
  }

  .container {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    column-gap: 5px;
  }

  .text {
    color:#333;
    font-family: 'Brush Script MT', cursive;
  }

  .image {
    border-radius: 50%;
    max-height: 80%;
  }

  /* Configure contacts icon shape*/
  .fa {
    padding: 15px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    border-radius: 50%;
  }
  
    /* Configure contacts icon shape*/
  .fa:hover {
        opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 50%;
    transform: translate(-50%);
  }